<!DOCTYPE html>
<html>
  <head>
    <title>Stackoverflow</title>
   
    <%= render 'layouts/head' %>
    <%= yield :styles %>

  </head>

 	 <body>
  		<%= yield %>
		<%=render 'layouts/scripts'%>
		
		<%= yield :js_scripts %>
  </body>
</html>
